<ul>
    {{#each blogposts}}
    <div class="card" style="background-color:rgb(105, 104, 104)">
        {{blogpost}}
        {{#if ../isLoggedIn}}
        <div class="float-right">
            <form action="/delete-blogpost/{{id}}" method="POST">
                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                <button class="btn btn-danger btn-sm">Delete</button>
            </form>
        </div>
        <div class="float-right">
            <button type="button" blogpost-text="{{blogpost}}" blogpost-id="{{id}}"
                class="btn btn-sm btn-primary openBlogpostModal" data-toggle="#blogpostModal">
                Edit
            </button>
        </div>
        {{/if}}
        {{/each}}
    </div>
</ul>
<form action="/add-blogpost" method="POST">
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
    <div>
        <input type="text" name="blogpost">
    </div>
    <input type="submit" value="Add">
</form>
<div class="modal fade" id="blogpostModal" tabindex="-1" role="dialog" aria-labelledby="blogpostModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <form id="editBlogpostSubmit" action="/edit-blogpost/" method="POST" class="form-inline" role="form">
            <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="recipient-name" class="col-form-label">Text:</label>
                            <input type="text" name="blogpost" class="form-control" id="blogpost-text">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Edit Blogpost">
                </div>
        </form>
    </div>
</div>