<div class="detailBox">
    <div class="titleBox">
        <label>Wall of comments</label>
    </div>
    <div class="actionBox">
        <ul class="commentList">
            {{#each comments}}
            <li>
                <div class="col-md-offset-4"></div>
                <div class="col-md-4">
                    <div class="commentText">
                        <p class="">{{comment}}</p>
                        <div class="float-right">
                            <form action="/delete-comment/{{id}}" method="POST">
                                <input type="hidden" name="_csrf" value="{{../csrfToken}}">
                                <button class="btn btn-danger btn-sm">Delete</button>
                            </form>
                        </div>
                        <div class="float-right">
                            <button type="button" comment-text="{{comment}}" comment-id="{{id}}"
                                class="btn btn-sm btn-primary openCommentModal" data-toggle="#commentModal">
                                Edit
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-md-offset-4"></div>
            </li>
            {{/each}}
        </ul>

        <div class="modal fade" id="commentModal" tabindex="-1" role="dialog" aria-labelledby="commentModal"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
                <form id="editCommentSubmit" action="/edit-comment/" method="POST" class="form-inline" role="form">
                    <input type="hidden" name="_csrf" value="{{csrfToken}}">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">New message</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="form-group">
                                    <label for="recipient-name" class="col-form-label">Text:</label>
                                    <input type="text" name="comment" class="form-control" id="comment-text">
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <input type="submit" class="btn btn-primary" value="Edit Comment">

                        </div>
                </form>
            </div>
        </div>
    </div>

    <form action="/add-comment/" method="POST" class="form-inline" role="form">
        <div class="form-group">
            <input class="form-control" type="text" placeholder="Your comments" name="comment" />
        </div>
        <div class="form-group">
            <input type="submit" class="btn btn-sm btn-primary" value="Add">
        </div>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
    </form>
</div>