<footer class="mastfoot mt-auto">
    {{#if isLoggedIn}}
    <form action="/logout" method="post">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input class="button fixed-bottom" style="background-color:rgb(105, 104, 104)" value="Logout" type="submit">
    </form>
    {{else}}
    <form action="/login" method="get">
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <input class="button fixed-bottom" style="background-color:rgb(105, 104, 104)" value="Login" type="submit">
    </form>
    {{/if}}
</footer>