<header class="masthead mb-auto">
  <div class="pos-f-t">
    <div class="collapse" id="navbarToggle">
      <div class="bg-gray p-4 ">
        <a class="nav-link" href="/">Home</a>
        <a class="nav-link" href="/about">About</a>
        <a class="nav-link" href="/contact">Contact</a>
        <a class="nav-link" href="/faqs">FAQs</a>
        <a class="nav-link" href="/blog">Blog</a>
      </div>
    </div>
    <nav class="navbar fixed-top navbar-dark bg-gray">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbar"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
</header>