<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Roberts music blog</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Bulma core CSS -->
  <link hreft="/css/bulma.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/cover.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
</head>

<body class="text-center">

  <div class="cover-container d-flex w-50 h-50 p-3 mx-auto flex-column">
    {{> nav}}
    {{{body}}}
    {{> footer}}
  </div>


  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/script.js"></script>



</body>

</html>