<h1>Answer question</h1>

<form action="/answer-question/{{faq.id}}" method="POST">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<div>
		Question: <input type="text" name="question" value="{{faq.question}}">
	</div>
	<div>
		Answer: <input type="text" name="answer" value="{{faq.answer}}">
	</div>
	<input class="btn btn-sm btn-primary" type="submit" value="Add">
</form>

<form action="/delete-question/{{faq.id}}" method="POST">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<input class="btn btn-danger btn-sm" type="submit" value="Delete">
</form>

{{#if questionError}}
<p class="requiredField">Something went wrong!</p>
{{/if}}