<h1>Contact</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore facere enim iusto perferendis dolorum ducimus animi
	distinctio, accusantium excepturi neque maiores consequatur, molestiae fugiat. Quam, fuga maiores! Consequatur,
	atque
	illum.</p>

<form action="/add-question" method="POST">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<div>
		Question: <input type="text" name="question">
	</div>
	<input class="btn btn-sm btn-primary" type="submit" value="Add">
</form>

{{#if questionError}}
<p class="requiredField">Something went wrong!</p>
{{/if}}