<h1>FAQs</h1>

<ul>
	{{#each faqs}}
	<div class="card" style="background-color:rgb(105, 104, 104)">
		{{#if ../isLoggedIn}}
		<div><a href="/answer-question/{{id}}">{{question}}</a></div>
		<div>{{answer}}</div>
		{{else}}
		<div>{{question}}</div>
		<div>{{answer}}</div>
		{{/if}}
	</div>
	{{/each}}
</ul>