<main role="main" class="inner cover">
    <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime aliquid dolor quidem dolorum eaque
        est perferendis modi similique culpa repudiandae, doloribus, nihil enim. Quidem ducimus explicabo in doloremque
        reiciendis minima!</p>
    <p class="lead">
        {{> commentBox}}
        {{#if commentError}}
        <p class="requiredField">Something went wrong!</p>
        {{/if}}
    </p>
</main>