<h1>Login</h1>
<form action="/login" method="POST">
	<input type="hidden" name="_csrf" value="{{csrfToken}}">
	<div>
		Username: <input type="text" name="username">
	</div>
	<div>
		Password: <input type="password" name="password">
	</div>
	<input type="submit" value="Login">
</form>